<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/public/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/public/css/main.css" />
    <title>Enicolla</title>
  </head>
  <body>
    <% include shared/menu.html %>

    <div class="container">
      <div class="thumbnail">
        <img src="/public/images/<%= film.poster %>.jpg" alt="...">
        <div class="caption">
          <p>Titre : <%= film.title %></p>
          <p>Réalisateur : <%= film.director %></p>
          <p>Date de sortie : <%= film.releaseDate %></p>
          <p>Date d'ajout : <%= film.addDate %></p>
          <p>Résumé : <%= film.synopsis %></p>
        </div>
      </div>
    </div>

  </body>
</html>
