<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/public/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/public/css/main.css">
    <title>Enicolla</title>
  </head>
  <body>

    <% include shared/menu.html %>

    <div class="container">
      <% films.forEach(function(film) { %>
      <div class="thumbnail">
        <img src="public/images/<%= '/' + film.poster %>.jpg" alt="...">
        <div class="caption">
          <h3><%= film.title %></h3>
          <p>Réalisateur : <%= film.director %></p>
          <p><a href="/film/<%= film.title %>" class="btn btn-primary" role="button">Detail</a></p>
        </div>
      </div>
      <% }) %>
    </div>

  </body>
</html>
